html {
    text-align: center
}

h1.multicolortext {
    color: transparent;
    background-image:
        linear-gradient(to right,
            #FF99CC,
            #fca3d0,
            #44b3fd,
            #0099FF);
    ;
    margin: auto;
    width: 350px;
    background-clip: unset;
    -webkit-background-clip: text;
    font-size: 75px;
    font-family: 'Open Sans';
    text-align: center;
}

h1~p.header {
    color: transparent;
    background-color: white;
    background-clip: unset;
    -webkit-background-clip: text;
    font-size: medium;
    font-family: 'Montserrat';
}

body {
    background-color: #996633;
}

div.main-column {
    background-color: white;
    width: auto;
    padding: 0.5%;
    padding-top: 10px;
    font-family: 'Montserrat';
}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  } */

img {
    width: 150px;
    height: 150px;
}

button.dark-mode {
    background-color: black;
    color: white;
}