html {
    text-align: center
}

h1.multicolortext {
    background-image: linear-gradient(to right, #FF99CC, #0099FF);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 51.5%;
    font-size: 75px;
    font-family: 'Open Sans';
    margin: 0;

}

h1~p.header {
    font-size: medium;
    font-family: 'Montserrat';
}

body {
    background-color: #996633;
}

div.main-column {
    background-color: white;
    width: auto;
    padding: 0.5%;
    padding-top: 10px;
    font-family: 'Montserrat';
}