html {
    text-align: center
}

h1.multicolortext {
    color: transparent;
    background-image:
        linear-gradient(to right,
            #FF99CC,
            #fca3d0,
            #44b3fd,
            #0099FF);
    ;
    margin: auto;
    width: 350px;
    background-clip: unset;
    -webkit-background-clip: text;
    font-size: 75px;
    font-family: 'Open Sans';
    text-align: center;
}

h1~p.header {
    color: transparent;
    background-color: white;
    background-clip: unset;
    -webkit-background-clip: text;
    font-size: medium;
    font-family: 'Montserrat';
}

body {
    background-color: #996633;
}

div.main-column {
    background-color: white;
    width: auto;
    padding: 0.5%;
    padding-top: 10px;
    font-family: 'Montserrat';
}